<div class="pencast">
  <h1>{{pdf}}</h1>
  <audio controls volume="1.0" src="" class="hidden"></audio>
  <button type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-file"></span>
    Upload
  </button>
  <button class="btn btn-default hidden" id="resetZoom" ng:click="resetZoom()">Reset zoom</button>
  <div class="pdf">Loading...</div>
</div>
