svg {
  float: left;
  border: solid 1px #aaa;
  margin: 5px;
}

.pdf {
}

#resetZoom {
}

.pencast > button {
  margin-top: -20px;
}

audio {
  background-color: blue;
}

.line {
  fill: none;
  stroke: blue;
  stroke-width: 3px;
}

.past {
  stroke: black;
  stroke-width: 5px;
}

.hidden {
  display: none;
}

.pencast {
}
